<!-- start: BREADCRUMB -->
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li>
				<a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">${i18nMap["admin.common.mainPage"]}</a>
			</li>
			<li class="active">
				登录超时
			</li>
		</ol>
	</div>
</div>
<!-- end: BREADCRUMB -->

<!-- start: PAGE CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- start: 500 -->
		<div class="page-error animated shake">
			<div class="inner">
				<span class="icon_wrp"> <i class="icon_page_error"></i> </span>
				<div class="msg_content">
					<h2>登录超时，请重新<a href="${cxt}">登录</a></h2>
				</div>
			</div>
		</div>
		<!-- end: 500 -->
	</div>
</div>
<!-- end: PAGE CONTENT-->
