
<div class="row" style="margin-right:1px;">
		<div class="col-md-3" style="padding-right:1px;height:715px;">
			<div class="panel panel-white" style="height: 100%">

				<div class="panel-heading"> 
					<h4 class="panel-title"><span class="text-bold">验收菜单</span></h4>
				</div>
				<div id="checkInfoMenu">
					<div class="ztree-wrap">
  						 <ul id="checkInfoTree" class="ztree"></ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9" style="padding-right:1px;padding-left:12px;height:715px;">
			<div class="panel panel-white" style="height: 100%">
				<div class="panel-heading">
					<h4 class="panel-title"><span class="text-bold">验收信息</span></h4>
				</div>
				<div id="checkInfoTable" class="panel-body">
					<!-- 地图信息 -->
				</div>
			</div>
		</div>
</div>

<style>
	.ztree-wrap {width:100%;height:100%; overflow:auto;}
	
</style>
<script type="text/javascript">

	$(function(){
		//初始化菜单
		initMenu();
	});

	
	function initMenu()
	{
		var setting1 = {
  				data:{
  					simpleData:{
  						enable: true,
  						idKey: "id",
  						pIdKey: "pId",
  						rootPId: 0
  					}
  				},
  				view: {
  	                dblClickExpand: true,
  	                showLine: false
  	            },
  	          callback: {
  	        	onClick: nodeClick
  	    	  }
  		};
		$.ajax({
			url:cxt+"/jf/manage/checkInfo/getParentMenu",
			type:"psot",
			async:"true",
			data:{},
			success:function(data)
			{
				$.fn.zTree.init($("#checkInfoTree"), setting1,data.menu);
			}
		});
	}

	function expandAll() {
		if (!check()) {
			return;
		}
		var zTree = $.fn.zTree.getZTreeObj("zTreeContent");
		if (asyncForAll) {
			//$("#demoMsg").text("已经异步加载完毕，使用 expandAll 方法");
			zTree.expandAll(true);
		} else {
			expandNodes(zTree.getNodes());
			if (!goAsync) {
				//$("#demoMsg").text("已经异步加载完毕，使用 expandAll 方法");
				curStatus = "";
			}
		}
	}
	
	//巡查菜单被选中触发的事件
  	function nodeClick(event, treeId, treeNode){
  		showList(treeNode.id);
  	}
	
	function showList(ids){
		var resultData=common_ajax.ajaxFunc("/jf/manage/checkInfo/menuList",{"_query.ids":ids},"html");
  		$("#checkInfoTable").html(resultData);
	}
</script>
	