<style>
<!--
#fix{width:500px; height:200px;position: absolute;top:10%;left:30%; z-index: 9999;border:2px solid #eee; text-align:center; line-height:200px; font-size:20px; font-weight:bold; color:#999;}
.table-hover > tbody > .pad:hover > td{
    background: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

-->
</style>
<script>
//设置维修的类型(为弹出框插入行选择合适的表)
var weixiu_type_table="DMS_WX_fzhlWeiXiu";
$('.td_i').on('click', function () {
	var expandId=$(this).attr("id");
	var tr=$("#trDom"+expandId);
	if($(this).hasClass("fa-arrow-circle-down")){
		$(this).removeClass("fa-arrow-circle-down");
		$(this).addClass("fa-arrow-circle-up");
		
		if(!tr.next().hasClass('pad')){
			  $.ajax({  
			    type:'post',      
			    url:'${cxt}/jf/manage/rwtask/getWeiXiuJiLuByTaskId',
			    cache:false,  
			    data:{table:weixiu_type_table,tirIds:expandId},
			    dataType:'json',  
			    success:function(entity){
			    	if(!entity.flag){
			    		layer.msg("维修记录不存在或被删除");
			    		return;
			    	}
			       html=' <table style="width:100%;border:1px">';
			       var _tr="";
			       $.each(entity.result,function(i,data){
			    	   //图片存在多个
				    	var a="";
				    	var img=data.imgs.split(",");
				    	$.each(img,function(i,imgs){
				    		a+='<a href="javascript:void(0)" style="text-align:left" onclick="showImg(\''+imgs+'\')">附件'+(i+1)+'</a>';
				    	});
			    	  _tr+=' <tr>'+
			    		   		'<td rowspan=3>'+(i+1)+'</td>'+
					            ' <td style="text-align:right">桩号范围  ：  </td>'+
					            ' <td> K'+data.startZHK+' + ' +data.startZHM+'  ~  K  '+ data. endZHK+' + ' +data.endZHM+'</td>'+
					            ' <td style="text-align:right">位置  ：  </td>'+
					            ' <td> '+data. luXian +'/'+data.wzType +'/'+ data. wzName +'/'+ data. wzMiaoShu+'</td>'+
					            ' <td style="text-align:right">天气  ：  </td>'+
					            ' <td>'+data.weatherState+'</td>'+
					            ' <td style="text-align:right">气温  ：  </td>'+
					            ' <td>'+data.qiWen+'℃</td>'+
					        ' </tr>'+
					        ' <tr>'+
					            ' <td style="text-align:right">施工机械  ：  </td>'+
					            ' <td>'+ data.shiGongJiXie+'</td>'+
					            ' <td style="text-align:right">维修人员  ：  </td>'+
					            ' <td>'+  data.weiXiuRenYuan+'</td>'+
					            ' <td style="text-align:right">现场专职安全员  ：  </td>'+
					            ' <td>'+ data.anQuanYuan+'</td>'+
					            ' <td style="text-align:right">现场施工负责人  ：  </td>'+
					            ' <td>'+ data.fuZeRen+'</td>'+
					        ' </tr>'+
					        ' <tr>'+
					            ' <td style="text-align:right">质量评价  ：  </td>'+
					            ' <td> '+ data.pingJia+'</td>'+
					            ' <td style="text-align:right">图片  ：  </td><td>'+a+'</td>'+
					        ' </tr>';
		        	});
			       
			       html	+= _tr+' </table>';
			       tr.after("<tr class='pad'><td colspan='10'>"+html+"</td></tr>");
			    }
			});  
		}else{
			tr.next().show();
		}
	}else{
		$(this).addClass("fa-arrow-circle-down");
		$(this).removeClass("fa-arrow-circle-up");
		if(tr.next().hasClass("pad")){
			tr.next().hide();
		}
	}
});

$("#fix").click(function(){
	$("#fix").hide();
});
function showImg(path){
	layer.photos({
	    photos: {
    	  	"data": [{
    	      	"src": path//原图地址
    	    }]
	    },
	    tab: function (pic, layero) {
	    	var css = {
	    		width: window.width,
	    		height: window.height
	    	};
	    	$(layero.selector).find('img').css(css);
	    	
	    }
	});
}
	
	
	$(function(){
		$("#pictureDiv").hide();
		
		//循环遍历图片
		var imgs = '${fzhlWeiXiu.imgs!}';
		if( imgs != ""){
			var arr = imgs.split(',');
			$.each(arr,function(i,n){
				$("#pictureDiv").show();
				$("#imgsDiv").append('<img style="width:200px;height:200px;" src="'+arr[i]+'"><br><br><br>')
			})		
		}
	})
	
</script>



<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">主页</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/manage/fzhl');">防撞护栏维修</a></li>
			<li class="active">查看</li>
		</ol>
	</div>
</div>
	<img src="" id='fix' alt="图片损坏,点击返回" style="display: none;">	
<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">查看防撞护栏</span></h4>
				
			</div>
			
			<div class="panel-body">	
			
				<table class="table table-bordered table-hover" id="dataTable">
					<thead>
						<tr>
							<th class="hidden-xs" width="5%" ></th>
							<th class="hidden-xs" width="10%" >
								任务单编号  
	      					</th>
	      					<th class="hidden-xs" width="10%" >
								负责人  	
	      					</th>
	      					<td class="hidden-xs" width="10%" >
								巡查日期
							</td>
							
							<td class="hidden-xs" width="10%" >
								位置	
							</td>
							
							<td class="hidden-xs" width="10%" >
								桩号(范围1 ~ 范围2)	
							</td>
<!-- 							<td class="hidden-xs" width="10%" > -->
<!-- 								结束桩号	 -->
<!-- 							</td> -->
							<td class="hidden-xs" width="10%" >
								病害或缺陷类型	
						    </td>
							
						</tr>
					</thead>
					<tbody>
						
						<tr id="trDom${fzhlWeiXiu.taskInfoRelate!}">
								<td class="hidden-xs">
									<i class="fa fa-arrow-circle-down td_i" id="${fzhlWeiXiu.taskInfoRelate!}"></i>
								</td>
								<td class="hidden-xs">${fzhlWeiXiu.taskNo!}</td>
								<td class="hidden-xs">${fzhlWeiXiu.fuZeRen!}</td>
								<td class="hidden-xs">${fzhlWeiXiu.xunChaTime!,dateFormat="yyyy-MM-dd HH:mm:ss"}</td>
								<td class="hidden-xs">${fzhlWeiXiu.wzName!}</td>
								<td class="hidden-xs">K${fzhlWeiXiu.xunChaStartZHK!}  +  ${fzhlWeiXiu.xunChaStartZHM!}
								<% if(fzhlWeiXiu.xunChaEndZHK != null && fzhlWeiXiu.xunChaEndZHK != '' && fzhlWeiXiu.xunChaEndZHM != null && fzhlWeiXiu.xunChaEndZHM != ''){%>
									~K${fzhlWeiXiu.xunChaEndZHK!}  +  ${fzhlWeiXiu.xunChaEndZHM!}
								<% } %>		
								</td>
<!-- 								<td class="hidden-xs">K${fzhlWeiXiu.xunChaEndZHK!}  +  ${fzhlWeiXiu.xunChaEndZHM!}</td> -->
								<td class="hidden-xs">${fzhlWeiXiu.FZHLBHIF }</td>
								
							</tr>
						
					</tbody>
				</table>	
				<form id="editForm" action="${cxt!}/jf/manage/fzhl/update" method="POST" role="form" class="form-horizontal">
					<input type="hidden" name="fzhlWeiXiu.ids" value="${fzhlWeiXiu.ids!}" />	
					
					<div class="form-group">
						<label class="col-sm-2 control-label">维修任务编号</label>
						<div class="col-sm-7">
							<input type="text" id="taskInfoRelate"   value="${fzhlWeiXiu.taskNo!}"
								class="form-control focused" readonly="readonly"   maxlength="100">
						</div>
					</div>	
					
					
					<div class="form-group">
						<label class="col-sm-2 control-label">路线</label>
						<div class="col-sm-2">
							<input type="text" id="luXian" name="fzhlWeiXiu.luXian" readonly value="${fzhlWeiXiu.luXian!}" class="form-control" readonly="readonly" >
						</div>
						<label class="col-sm-2 control-label">位置</label>
						<div class="col-sm-2">
							<input type="text" id="wzType" name="fzhlWeiXiu.wzType" readonly value="${fzhlWeiXiu.wzType!}" class="form-control" readonly="readonly" >
						</div>
					</div>
					
					
					
					
					<div class="form-group">
						<label class="col-sm-2 control-label">方向/互通/收费站/服务区</label>
						<div class="col-sm-2">
							<input type="text" id="wzName" name="fzhlWeiXiu.wzName" readonly value="${fzhlWeiXiu.wzName!}" class="form-control" readonly="readonly" >
						</div>
						<label class="col-sm-2 control-label">车道/匝道/广场</label>
						<div class="col-sm-2">
							<input type="text" id="wzMiaoShu" name="fzhlWeiXiu.wzMiaoShu" readonly  value="${fzhlWeiXiu.wzMiaoShu!}" class="form-control" readonly="readonly" >
						</div>
					</div>
					
					
					
					
					
					<div class="form-group">
						<label class="col-sm-2 control-label">天气状态</label>
						<div class="col-sm-2">
							<input type="text" id="weatherState" name="fzhlWeiXiu.weatherState"  value="${fzhlWeiXiu.weatherState!}"  class="form-control" readonly="readonly" >
						</div>
						
						<label class="col-sm-2 control-label">气温</label>
						<div class="col-sm-2">
							<input type="text" id="qiWen" name="fzhlWeiXiu.qiWen"  value="${fzhlWeiXiu.qiWen!}"   class="form-control NumText" readonly="readonly" >
						</div>
							<span class="help-inline col-sm-1"> &#8451;</span>
					</div>
					
					
					<div class="form-group">
						<label class="col-sm-2 control-label">开始桩号K</label>
						<div class="col-sm-1">
							<input type="text" id="startZHK" name="fzhlWeiXiu.startZHK"  value="${fzhlWeiXiu.startZHK!}"   class="form-control" readonly="readonly" >
						</div>
						
						<label class="col-sm-1 " style="width:1%;font-size:20px;margin-left:-12px">+</label>
						<div class="col-sm-1">
							<input type="text" id="startZHM" name="fzhlWeiXiu.startZHM"   value="${fzhlWeiXiu.startZHM!}"  class="form-control" readonly="readonly" >
						</div>
						<label class="col-sm-2 control-label" style="margin-left:-18px">结束桩号K</label>
						<div class="col-sm-1">
							<input type="text" id="endZHK" name="fzhlWeiXiu.endZHK"   value="${fzhlWeiXiu.endZHK!}"   class="form-control" readonly="readonly" >
						</div>
						
						<label class="col-sm-1 " style="width:1%;font-size:20px;margin-left:-12px">+</label>
						<div class="col-sm-1">
							<input type="text" id="endZHM" name="fzhlWeiXiu.endZHM"   value="${fzhlWeiXiu.endZHM!}"   class="form-control" readonly="readonly" >
						</div>
						<span class="help-inline col-sm-2"> </span>
					</div>
					
					
					
					<div class="form-group">
						<label class="col-sm-2 control-label">维修开始时间</label>
						<div class="col-sm-2">
							<input type="text" id="weiXiuStartTime" name="fzhlWeiXiu.weiXiuStartTime" disabled="disabled"  value="${fzhlWeiXiu.weiXiuStartTime!,dateFormat='yyyy-MM-dd HH:mm:ss'}"   onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})"  class="form-control">
						</div>
						<label class="col-sm-2 control-label">维修结束时间</label>
						<div class="col-sm-2">
							<input type="text" id="weiXiuEndTime" name="fzhlWeiXiu.weiXiuEndTime" disabled="disabled"    value="${fzhlWeiXiu.weiXiuEndTime!,dateFormat='yyyy-MM-dd HH:mm:ss'}"   onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})"  class="form-control">
						</div>
					</div>
				
				
				
				
					<div class="form-group">
						<label class="col-sm-2 control-label">施工机械</label>
						<div class="col-sm-2">
							<input type="text" id="shiGongJiXie" name="fzhlWeiXiu.shiGongJiXie"   value="${fzhlWeiXiu.shiGongJiXie!}"readonly="readonly"    class="form-control">
						</div>
						<label class="col-sm-2 control-label">维修人员</label>
						<div class="col-sm-2">
							<input type="text" id="weiXiuRenYuan" name="fzhlWeiXiu.weiXiuRenYuan"   value="${fzhlWeiXiu.weiXiuRenYuan!}"readonly="readonly"    class="form-control">
						</div>
						
					</div>
					
					
					
					
					
					
					
					
					
					
					<div class="form-group">
						<label class="col-sm-2 control-label">现场专职安全员</label>
						<div class="col-sm-2">
							<input type="text" id="anQuanYuan" name="fzhlWeiXiu.anQuanYuan"  value="${fzhlWeiXiu.anQuanYuan!}" readonly="readonly"  class="form-control">
						</div>
						<label class="col-sm-2 control-label">现场施工负责人</label>
						<div class="col-sm-2">
							<input type="text" id="fuZeRen" name="fzhlWeiXiu.fuZeRen"  value="${fzhlWeiXiu.fuZeRen!}"readonly="readonly"  class="form-control">
						</div>
					</div>
					
					
					
					<div class="form-group">
						<label class="col-sm-2 control-label">质量评价</label>
						<div class="col-sm-2">
							<input type="text" id="pingJia" name="fzhlWeiXiu.pingJia"readonly="readonly"   value="${fzhlWeiXiu.pingJia!}" class="form-control">
						</div>
						<label class="col-sm-2 control-label">整体线形</label>
						<div class="col-sm-2">
							<input type="text" id="ztXianXing" name="fzhlWeiXiu.ztXianXing" readonly="readonly"  value="${fzhlWeiXiu.ztXianXing!}" class="form-control">
						</div>
					</div>
					
					
					
					
					<div class="form-group">
						<label class="col-sm-2 control-label">维修长度</label>
						<div class="col-sm-2">
							<input type="text" id="weiXiuChangDu" name="fzhlWeiXiu.weiXiuChangDu" value="${fzhlWeiXiu.weiXiuChangDu!}"readonly="readonly"   class="form-control NumText">
						</div>
						<label class="col-sm-2 control-label">具体位置</label>
						<div class="col-sm-2">
							<input type="text" id="juTiWeiZhi" name="fzhlWeiXiu.juTiWeiZhi"  value="${fzhlWeiXiu.juTiWeiZhi!}"readonly="readonly"  class="form-control">
						</div>
					</div>
				
					
					
					
					
					
					
					<div class="form-group">
						<label class="col-sm-2 control-label">损坏原因类型</label>
						<div class="col-sm-2">
							<input type="text" id="sunHuaiCauseType" name="fzhlWeiXiu.sunHuaiCauseType"readonly="readonly"   value="${fzhlWeiXiu.sunHuaiCauseType!}" class="form-control">
						</div>
						<label class="col-sm-2 control-label">损坏原因</label>
						<div class="col-sm-2">
							<input type="text" id="sunHuaiCause" name="fzhlWeiXiu.sunHuaiCause"readonly="readonly"   value="${fzhlWeiXiu.sunHuaiCause!}" class="form-control">
						</div>
					</div>
					
					
					
					
					
					<div class="form-group">
						<label class="col-sm-2 control-label">事故时间</label>
						<div class="col-sm-2">
							<input type="text" id="shiGuTime" name="fzhlWeiXiu.shiGuTime"  value="${fzhlWeiXiu.shiGuTime!,dateFormat='yyyy-MM-dd HH:mm:ss'}"readonly="readonly"  onFocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd HH:mm:ss'})"  class="form-control">
						</div>
						<label class="col-sm-2 control-label">未及时修补原因</label>
						<div class="col-sm-2">
							<input type="text" id="wjsxbCause" name="fzhlWeiXiu.wjsxbCause"  value="${fzhlWeiXiu.wjsxbCause!}"readonly="readonly"  class="form-control">
						</div>
					</div>
					
					
					
					
					
					
					
					
					
					<div class="form-group">
						<label class="col-sm-2 control-label">损坏现状描述</label>
						<div class="col-sm-2">
							<input type="text" id="sunHuaiMiaoShu" name="fzhlWeiXiu.sunHuaiMiaoShu" readonly="readonly"  value="${fzhlWeiXiu.sunHuaiMiaoShu!}" class="form-control">
						</div>
						<label class="col-sm-2 control-label">其他相关项目维修数量</label>
						<div class="col-sm-2">
							<input type="text" id="qiTaWeiXiuNum" name="fzhlWeiXiu.qiTaWeiXiuNum"readonly="readonly"   value="${fzhlWeiXiu.qiTaWeiXiuNum!}" class="form-control">
						</div>
					</div>
					
					
					<div class="form-group">
						<label class="col-sm-2 control-label">路病类型</label>
						<div class="col-sm-7">
							<input type="text" id="lblx" name="fzhlWeiXiu.luBingType" class="form-control" value="${fzhlWeiXiu.luBingType}" >
						</div>
					</div>
					
					
					
					
					
					
					
					
					
					
					
					
					<div class="form-group">
						<input type="text"  id="fzhlWeiXiuRelateListSize" style="display:none" value="${listSize!}">
						<input type="text"  id="delIds" name="delIds" style="display:none" value="">
						<table
							class="table table-striped table-bordered bootstrap-datatable " style="width:56.5%;margin-left:17.6%">
							<thead>
								<th width="15%">维修部件</th>
								<th width="15%">整理矫正数量及型号</th>
								<th width="15%">更换数量及型号</th>
								<th width="15%">回收数量及型号</th>
							</thead>
							
							<tbody id="tbody-list">
						<% for(fzhlWeiXiuRelate in list){ %>	
						<tr id="clone-target">
							
							<td>
								<input type="text"readonly="readonly"   name="fzhlWeiXiuRelateList[${fzhlWeiXiuRelateLP.index!}].weiXiuBuJian" class="form-control" value="${fzhlWeiXiuRelate.weiXiuBuJian!}"   >
								<input type="hidden" name="fzhlWeiXiuRelateList[${fzhlWeiXiuRelateLP.index!}].ids" value="${fzhlWeiXiuRelate.ids!}">
							</td>
							<td>
								<input type="text"readonly="readonly"   name="fzhlWeiXiuRelateList[${fzhlWeiXiuRelateLP.index!}].jiaoZheng" class="form-control" value="${fzhlWeiXiuRelate.jiaoZheng!}"   >
								
							<td>
								<input type="text" readonly="readonly" name="fzhlWeiXiuRelateList[${fzhlWeiXiuRelateLP.index!}].gengHuan" class="form-control" value="${fzhlWeiXiuRelate.gengHuan!}"   >
								
							</td>
							<td>
								<input type="text"readonly="readonly"   name="fzhlWeiXiuRelateList[${fzhlWeiXiuRelateLP.index!}].huiShou" class="form-control" value="${fzhlWeiXiuRelate.huiShou!}"   >
								
							</td>
						</tr>
						<% } %>
					</tbody>
					
						</table>
						<span class="help-inline col-sm-2"> </span>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">备注</label>
						<div class="col-sm-7">
							<textarea id="idcardId" name="fzhlWeiXiu.remark" class="form-control" rows="4" cols="20" readonly="readonly">${fzhlWeiXiu.remark!}</textarea>
						</div>
						<span class="help-inline col-sm-2"> </span>
					</div>
					<div class="form-group" id="pictureDiv">
						<label class="col-sm-2 control-label" for="form-field-1">
							图片
						</label>
						<div class="col-sm-3" id="imgsDiv">
							
						</div>
					</div>
										
					<div class="form-group">
						<div class="col-sm-5 col-sm-offset-5">
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-blue" onclick="common_ajax.ajaxReturnBack();">
								返回	<i class="fa fa-arrow-circle-left"></i>
							</button>
						</div>
					</div> 
			</div>
		</div>
	</div>
</div>
