<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">主页</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/manage/weizhi');">位置信息配置</a></li>
			<li class="active">修改</li>
		</ol>
	</div>
</div>
	
<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">修改位置信息</span></h4>
				
			</div>
			
			<div class="panel-body">	
				<form id="editForm" action="${cxt!}/jf/manage/weizhi/update" method="POST" role="form" class="form-horizontal">
					<input type="hidden" name="weiZhi.ids" value="${weiZhi.ids}" />	
					<div class="form-group">
						<label class="col-sm-2 control-label">路线名称</label>
						<div class="col-sm-7">
							<select name="weiZhi.luXianId" class="form-control">
								<%for(luXian in luXianList){%>
									<option ${luXian.ids==weiZhi.luXianId?'selected="selected"'}  value="${luXian.ids!}" >${luXian.luXianName!}</option>
								<%}%>
							</select>
						</div>
						<span class="help-inline col-sm-2"> </span>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">位置类型</label>
						<div class="col-sm-7">
							<select name="weiZhi.wzType" class="form-control">
								<%for(wzType in wzTypeList){%>
									<option  ${wzType.ids==weiZhi.wzType?'selected="selected"'}   value="${wzType.ids!}" >${wzType.name!}</option>
								<%}%>
							</select>
						</div>
						<span class="help-inline col-sm-2"> </span>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">方向、互通、收费站、服务区</label>
						<div class="col-sm-3">
							<input type="text"  name="weiZhi.wzName" value="${weiZhi.wzName!}" class="form-control">
						</div>
						<label class="col-sm-1 control-label">车道/匝道/广场</label>
						<div class="col-sm-3">
							<input type="text"  name="weiZhi.wzMiaoShu" value="${weiZhi.wzMiaoShu!}"  class="form-control">
						</div>
						<span class="help-inline col-sm-2"> </span>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">桩号K</label>
						<div class="col-sm-1">
							<input type="text"  name="weiZhi.ZHK" value="${weiZhi.ZHK!}" class="form-control"onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
						</div>
						<label class="col-sm-1 " style="width:1%;font-size:20px;margin-left:-12px">+</label>
						<div class="col-sm-1">
							<input type="text"  name="weiZhi.ZHM" value="${weiZhi.ZHM!}" class="form-control"onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
						</div>
						<span class="help-inline col-sm-2"> </span>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">排序</label>
						<div class="col-sm-3">
							<input type="text"  name="weiZhi.sort" value="${weiZhi.sort!}" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
						</div>
						
					</div>
					
					<div class="form-group">
						<div class="col-sm-5 col-sm-offset-5">
							<button type="button" class="btn btn-red" onclick="mySubmit()">
								提交<i class="fa fa-arrow-circle-right"></i>
							</button>

							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-blue" onclick="common_ajax.ajaxReturnBack();">
								返回	<i class="fa fa-arrow-circle-left"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function myVail(){
		var luXianId=$("select[name='weiZhi.luXianId']").val();
		if(luXianId==null){
			layer.msg("路线名称不能为空！");
			return false;
		}
		var wzType=$("select[name='weiZhi.wzType']").val();
		if(wzType==null){
			layer.msg("位置类型不能为空！");
			return false;
		}
		var wzName=$("input[name='weiZhi.wzName']").val();
		if(wzName==""){
			layer.msg("“方向、互通、收费站、服务区”不能为空！");
			return false;
		}
		var wzMiaoShu=$("input[name='weiZhi.wzMiaoShu']").val();
		if(wzMiaoShu==""){
			layer.msg("“车道/匝道/广场”不能为空！");
			return false;
		}
		var ZHK=$("input[name='weiZhi.ZHK']").val();
		if(ZHK==""){
			layer.msg("桩号K不能为空！");
			return false;
		}else{
			if(!isNaN(ZHK)){
				if(ZHK<=0){
					layer.msg("桩号K不能小于等于零！");
					return false;
				}
			}else{
				layer.msg("桩号K请填写正确的数值类型！");
				return false;
			}
		}
		var ZHM=$("input[name='weiZhi.ZHM']").val();
		if(ZHM==""){
			layer.msg("桩号M不能为空！");
			return false;
		}else{
			if(!isNaN(ZHM)){
				if(ZHM<=0){
					layer.msg("桩号M不能小于等于零！");
					return false;
				}else if(ZHM>999){
					layer.msg("桩号M不能大于999！");
					return false;
				}
			}else{
				layer.msg("桩号M请填写正确的数值类型！");
				return false;
			}
		}
		var sort=$("input[name='weiZhi.sort']").val();
		if(sort==""){
			layer.msg("排序不能为空！");
			return false;
		}else{
			if(isNaN(sort)){
				layer.msg("排序请填写正确的数值类型！");
				return false;
			}
		}
		return true;
	}
	function mySubmit(){
		if(!myVail()){
			return;
		}
		var resultData=common_ajax.ajaxForm("editForm","JSON");
		if(resultData==""){
			layer.msg("请求失败！")
		}else{
			layer.msg(resultData.result_desc);
			if(resultData.result){
				common_ajax.ajaxMainPanel("/jf/manage/weizhi",{"pageNumber":${pageNumber!}});
			}
		}
		
	}
</script>	