<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">主页</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/manage/binghaiindex');">病害指标配置</a></li>
			<li class="active">新增</li>
		</ol>
	</div>
</div>
	
<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">新增病害指标</span></h4>
				
			</div>
			
			<div class="panel-body">	
				<form id="editForm" action="${cxt!}/jf/manage/binghaiindex/update" method="POST" role="form" class="form-horizontal">
					<input type="hidden" name="bingHaiIndex.ids" value="${bingHaiIndex.ids!}" />	
					<div class="form-group">
						<label class="col-sm-2 control-label">维修模块名称</label>
						<div class="col-sm-7">
							<select name="bingHaiIndex.wxmkId" class="form-control">
								<%for(wxmk in wxmkList){%>
									<option ${wxmk.ids==bingHaiIndex.wxmkId?'selected="selected"'}  value="${wxmk.ids!}" >${wxmk.name!}</option>
								<%}%>
							</select>
						</div>
						<span class="help-inline col-sm-2"> </span>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label">病害指标名称</label>
						<div class="col-sm-3">
							<input type="text" id="idcardId" name="bingHaiIndex.name" value="${bingHaiIndex.name!}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						
						<label class="col-sm-2 control-label">严重程度</label>
						<div class="col-sm-8" id="levelDiv">
							<label class="radio" style="margin-left:30px;display:inline-block"> <input type="checkbox"value="轻" 
								 id="optionsRadios1" name="test"> 轻
							</label>
							
							<label class="radio"style="margin-left:30px;display:inline-block"> <input type="checkbox" value="中" 
								id="optionsRadios2" name="test" > 中
							</label> 
							<label class="radio"style="margin-left:30px;display:inline-block"> <input type="checkbox" value="重"
								id="optionsRadios3" name="test"> 重
							</label> 
							<input type="hidden" id="level"  value="${bingHaiIndex.level}">
							<input type="hidden"  name="bingHaiIndex.level" >
						</div>
						
					</div>
					
					<div class="form-group">
						
						<label class="col-sm-2 control-label">单位</label>
						<div class="col-sm-1" id="dwDiv">
							<input type="text" name="bingHaiIndex.gclDw" id="gclDwInput" class="form-control"  value="${bingHaiIndex.gclDw}"/>
						</div>
						<input type="hidden" id="val">
					</div>
					
					
					<div class="form-group">
<!-- 						<div class="col-sm-2 col-sm-offset-3"> -->
						<div class="col-sm-5 col-sm-offset-5">
							<button type="button" class="btn btn-red" onclick="mySubmit()">
								提交<i class="fa fa-arrow-circle-right"></i>
							</button>
						
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-blue" onclick="common_ajax.ajaxReturnBack();">
								返回	<i class="fa fa-arrow-circle-left"></i>
							</button>	
						</div>
					</div>
				</form>
				<div style="display:none;" id="templeteDiv">
					<div class="col-sm-2">
						<div class="input-group">
							<input type="text" class="form-control" value="">
							<span  class="input-group-addon" style="cursor: pointer;" title="删除" onclick="deleteDiv(this)">
								<span class="glyphicon glyphicon-trash"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	
	

	var value = $("#level").val();
	
	var arr = value.split("|");
	
	for(var i =0;i<arr.length;i++){
		$('input[type="checkbox"][value="' +　arr[i] +　'"]').attr("checked","checked");
	}
	
	function mySubmit(){
		var bhname = $("[name='bingHaiIndex.name']").val();
		if(bhname==""){
			layer.msg("病害指标名称不能为空");
			return;
		}
		var arrays = new Array();
		obj = document.getElementsByName("test");
		for(k in obj){
			if(obj[k].checked)
				arrays.push(obj[k].value);
		}
		$("[name='bingHaiIndex.level']").attr("value",arrays.join("|"));
		var chengdu = $("[name='bingHaiIndex.level']").val();
		if(chengdu==""){
			layer.msg("至少选一个");
			return;
		}
		var danwei = $("[name='bingHaiIndex.gclDw']").val();
		if(danwei==""){
			layer.msg("单位信息不能为空");
			return;
		}
		var resultData=common_ajax.ajaxForm("editForm","JSON");
		if(resultData==""){
			layer.msg("请求失败！")
		}else{
			layer.msg(resultData.result_desc);
			if(resultData.result){
				common_ajax.ajaxMainPanel("/jf/manage/binghaiindex",{"pageNumber":${pageNumber!}});
			}
		}	
	}
	
	function addDiv(id){
		var templeteHtml=$("#templeteDiv").html();
		$("#"+id).append(templeteHtml);
	}
	function deleteDiv(obj){
		$(obj).parent().parent().remove();
	}
</script>	