<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/platform/index/content');">主页</a></li>
			<li><a href="#" onclick="common_ajax.ajaxMainPanel('/jf/manage/company');">单位配置</a></li>
			<li class="active">修改</li>
		</ol>
	</div>
</div>
	
<div class="row">
	<div class="col-md-12">
		<!-- start: BORDERED TABLE PANEL -->
		<div class="panel panel-white">
			
			<div class="panel-heading">
				<h4 class="panel-title"><span class="text-bold">修改单位</span></h4>
				
			</div>
			
			<div class="panel-body">	
				<form id="editForm" action="${cxt!}/jf/manage/company/update" method="POST" role="form" class="form-horizontal">
					<input type="hidden" name="company.ids" value="${company.ids!}" />	
					<div class="form-group">
						<label class="col-sm-2 control-label">单位名称</label>
						<div class="col-sm-7">
							<input type="text" id="name" name="company.name" value="${company.name!}" class="form-control">
						</div>
						<span class="help-inline col-sm-2"> </span>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">单位地址</label>
						<div class="col-sm-7">
							<input type="text"  name="company.addr" value="${company.addr!}" class="form-control">
						</div>
						<span class="help-inline col-sm-2"> </span>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">法人姓名</label>
						<div class="col-sm-7">
							<input type="text"  name="company.userName" value="${company.userName!}" class="form-control">
						</div>
						<span class="help-inline col-sm-2"> </span>
					</div>
					
					<div class="form-group">
<!-- 						<div class="col-sm-2 col-sm-offset-3"> -->
						<div class="col-sm-5 col-sm-offset-5">
							<button type="button" class="btn btn-red" onclick="mySubmit()">
								提交<i class="fa fa-arrow-circle-right"></i>
							</button>
							

							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-blue" onclick="common_ajax.ajaxReturnBack();">
								返回	<i class="fa fa-arrow-circle-left"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

	function mySubmit(){
		var name = $("[name='company.name']").val();
		if(name==""){
			layer.msg("管理单位不能为空");
			return;
		}
		var addr = $("[name='company.addr']").val();
		if(addr==""){
			layer.msg("单位地址不能为空");
			return;
		}
		var userName = $("[name='company.userName']").val();
		if(userName==""){
			layer.msg("法人姓名不能为空");
			return;
		}
		var resultData=common_ajax.ajaxForm("editForm","JSON");
		if(resultData==""){
			layer.msg("请求失败！")
		}else{
			layer.msg(resultData.result_desc);
			if(resultData.result){
				common_ajax.ajaxMainPanel("/jf/manage/company",{"pageNumber":${pageNumber!}});
			}
		}
		
	}
</script>	